<main>
    <section class="section-about">
        <div class="u-center-text">
            <h2 class="heading-secondary mt-5 mb-5">
                About my professional skills.
            </h2>
        </div>
        <div class="main-grid mt-5">
            <div class="main-grid__row">
                <div class="col-1-of-2 p-4">
                    <h3 class="text-grey">TECHNOLOGICAL KNOWLEDGE</h3>
                    <div class="light-text">
                        <ul>
                            <li><i class="far fa-arrow-alt-circle-right"></i>Advanced Control of designs software (Photoshop, Illustrator, Animated).</li>
                            <li>Resposive Web design (CSS Grid /Flex Box, SASS, HTML5).</li>
                            <li>User Interface designer UI (Wireframes, Skecth, Zepplin, Photoshop)</li>
                            <li>Front-End Mock-Up (ES6, Jquery, Angular, React, Wordpress).</li>
                            <li>Post Video and Audio production (After Effects, Premier Pro, FL Studio).</li>
                        </ul>
                    </div>
                    <a href="#" class="btn-text">Work Experience &rarr;</a>
                </div>
                <div class="col-1-of-2">
                    <div class="composition">
                        <img src="../../../assets/img/nat-1-large.jpg" alt="Img 1" class="composition__photo composition__photo--p1">
                        <img src="../../../assets/img/nat-2-large.jpg" alt="Img 2" class="composition__photo composition__photo--p2">
                        <img src="../../../assets/img/nat-3-large.jpg" alt="Img 3" class="composition__photo composition__photo--p3">
                    </div>

                </div>
            </div>
        </div>
             
        
    </section>

</main>















<!--
  <div class="main-grid">
   <div class="main-grid__row">
       <div class="col-1-of-2">
           col 1 of 2
       </div>
       <div class="col-1-of-2">
         col 1 of
       </div>
   </div>
   <div class="main-grid__row">
    <div class="col-1-of-3">
        col 1 of 2
    </div>
    <div class="col-2-of-3">
      col 2 of 3
    </div>
</div>

</div>





<div id="title-box">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

-->