<div class="gallery">
  <div class="gallery__item">
    <img src="../assets/img/hotel-1.jpg" alt="Photo of hotel 1" class="gallery__photo">
  </div>
  <div class="gallery__item">
    <img src="../assets/img/hotel-2.jpg" alt="Photo of hotel 2" class="gallery__photo">
  </div>
  <div class="gallery__item">
    <img src="../assets/img/hotel-3.jpg" alt="Photo of hotel 3" class="gallery__photo">
  </div>
</div>

<div class="overview">
  <h1 class="overview__heading">        
      <span class="heading-primary--main">Daniel Velasco</span>
      <span class="heading-primary--sub">Web & Graphic Designer / Audiovisual Artist</span>
  </h1>

  
  <div class="overview__rating">
    <div class="overview__rating-average">8.6</div>
    <div class="overview__rating-count">429 votes</div>
  </div>
</div>

<div class="detail">
  <div class="description">
    <h2>ABOUT ME.</h2>
    <p class="paragraph">
     Hello!  I´m Professional designer, with over 8 years of experience in graphic and web design in Front-end area. I have many skills in creative development, solid knowledge in techniques and strategies to get optimals results.
    What I can do!. Resposive Web design using the new CSS3 & HTML5 tools (Grid, Flex Box, SASS, Bootstrap). User Interface designer UI, Mock-Up, Wirefrimes using some populars softwares like Skecth, Zepplin and Photoshop. Essentials Knowledge in desing web apps in Angular and React using JavaScript, JQuery, Node.js, Mongo DB, Redux.
    Technical management of CMS like Wordpress (Templates, Landing Pages, Build site).
    </p>
    <p class="paragraph">
      In the area of graphic design I have advanced knowledge in Photoshop for digital marketing and photo retouching, Illustrator for vectorial designs and printer, Afeter Effects and Premier Pro for video production and mothion graphics animations, Indesign for web and prints mock-ups.
    </p>
    <h2>ABOUT MY SKILLS.</h2>
    <ul class="list">
      <li class="list__item">UI Desing.</li>
      <li class="list__item">Responsive Desing.</li>
      <li class="list__item">Vectors and drawings.</li>
      <li class="list__item">Photo Retouching.</li>
      <li class="list__item">Front-End Design</li>
      <li class="list__item">Wordpress.</li>
      <li class="list__item">Video Edit.</li>
      <li class="list__item">Music Production.</li>
      <li class="list__item">Print.</li>
      
    </ul>
    <div class="recommend">
      <p class="recommend__count">
        Lucy and 3 other friends recommend this hotel.
      </p>
      <div class="recommend__friends">
        <img src="img/user-3.jpg" alt="Friend 1" class="recommend__photo">
        <img src="img/user-4.jpg" alt="Friend 2" class="recommend__photo">
        <img src="img/user-5.jpg" alt="Friend 3" class="recommend__photo">
        <img src="img/user-6.jpg" alt="Friend 4" class="recommend__photo">
      </div>
    </div>
  </div>

  <div class="user-reviews">
    <figure class="review">
      <blockquote class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque
        officia ex.
      </blockquote>
      <figcaption class="review__user">
        <img src="img/user-1.jpg" alt="User 1" class="review__photo">
        <div class="review__user-box">
          <p class="review__user-name">Nick Smith</p>
          <p class="review__user-date">Feb 23rd, 2017</p>
        </div>
        <div class="review__rating">7.8</div>
      </figcaption>
    </figure>

    <figure class="review">
      <blockquote class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi.
      </blockquote>
      <figcaption class="review__user">
        <img src="img/user-2.jpg" alt="User 1" class="review__photo">
        <div class="review__user-box">
          <p class="review__user-name">Mary Thomas</p>
          <p class="review__user-date">Sept 13th, 2017</p>
        </div>
        <div class="review__rating">9.3</div>
      </figcaption>
    </figure>

    <button class="btn-inline">Show all <span>&rarr;</span></button>
  </div>

  <div class="cta">
    <h2 class="cta__book-now">
      Good news! We have 4 free rooms for your selected dates!
    </h2>
    <button class="btn">
      <span class="btn__visible">Book now</span>
      <span class="btn__invisible">Only 4 rooms left</span>
    </button>
  </div>

</div>
