@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/card";


@import "layout/header";
@import "layout/grid";
@import "layout/navigation";

@import "pages/home";

























/*FOOTER*/

footer {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.7);
  background: -webkit-linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(26, 26, 26, 0.9));
  background: linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(26, 26, 26, 0.9));
  position: fixed;
  z-index: 100;
  bottom: 0px;

}